---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import type { ServiceCard } from "@/types";

interface Props extends ServiceCard {}

const { title, img, description, icon, href } = Astro.props;
---

<div
  class="group bg-surface-container-lowest border-outline-variant/10 flex flex-col overflow-hidden rounded-xl border transition-all duration-500 hover:shadow-2xl"
>
  <div class="relative h-48 overflow-hidden">
    <Image
      alt={title}
      class="h-full w-full object-cover transition-transform duration-700 group-hover:scale-110"
      src={img}
    />
    <div class="absolute inset-0 bg-linear-to-t from-black/20 to-transparent">
    </div>
  </div>
  <div class="flex grow flex-col p-8">
    <div class="mb-4 flex items-center gap-3">
      <Icon name={icon} class="text-primary" />
      <h3 class="text-xl font-bold">{title}</h3>
    </div>
    <p class="text-on-surface-variant mb-6 grow text-sm leading-relaxed">
      {description}
    </p>
    <a
      class="text-primary inline-flex items-center text-sm font-bold transition-all hover:gap-2"
      href={href}
      >Läs mer
      <Icon name="material-symbols:arrow-forward" class="ml-1 text-base" />
    </a>
  </div>
</div>
