---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
  imageUrl: ImageMetadata;
  dataAlt: string;
  linkUrl: string;
}

const { title, description, imageUrl, dataAlt, linkUrl } = Astro.props;
---

<div class="group h-full cursor-pointer">
  <div
    class="bg-surface-container-lowest flex h-full flex-col overflow-hidden rounded-xl shadow-sm transition-all group-hover:shadow-xl"
  >
    <div class="h-64 overflow-hidden">
      <Image
        alt={title}
        class="h-full w-full object-cover transition-transform duration-700 group-hover:scale-110"
        data-alt={dataAlt}
        src={imageUrl}
      />
    </div>
    <div class="flex grow flex-col p-8">
      <h3 class="font-headline mb-3 text-2xl font-bold">{title}</h3>
      <p class="text-on-surface-variant mb-6">
        {description}
      </p>
      <a
        class="text-primary mt-auto inline-flex items-center font-bold transition-all hover:gap-2"
        href={linkUrl}
      >
        Läs mer <span class="sr-only">om {title}</span>
        <Icon name="material-symbols:arrow-forward" class="ml-2" />
      </a>
    </div>
  </div>
</div>
